<h2 style="padding-left: 10px;">Dashboard</h2>
<div class="chart-diplay">
  <div>
    <canvas id="bar"></canvas>
  </div>
</div>

<div class="grid-container">
  <div class="grid-item">
    <div class="card">
      <div class="container">
        <h3>High Priority</h3><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <div class="container">
        <h3>Recently Updated Issue</h3><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p><hr>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p>
      </div>
    </div>
  </div>
  <div class="grid-item">   
    <div class="card">
      <div class="container">
        <h3>All Issues <img src="../assets/images/Select Dropdown.svg" alt=""></h3><hr>
        <div id="all">
          <a><img src="../assets/images/Sijo.svg" alt="sijo" style="height: 25px; width: 25px;"></a>
          <a style="padding-left: 30px;">Sijo M Peter</a> <br>
          <a style="padding-left: 55px;">UI/UX Designer</a>  
        </div>
        <hr>
        <div id="all">
          <a><img src="../assets/images/Sanal.svg" alt="sijo" style="height: 25px; width: 25px;"></a>
          <a style="padding-left: 30px;">Sijo M Peter</a> <br>
          <a style="padding-left: 55px;">UI/UX Designer</a>  
        </div><hr>
        <div id="all">
          <a><img src="../assets/images/Saanvi.svg" alt="sijo" style="height: 25px; width: 25px;"></a>
          <a style="padding-left: 30px;">Sijo M Peter</a> <br>
          <a style="padding-left: 55px;">UI/UX Designer</a>  
        </div><hr>
        <div id="all">
          <a><img src="../assets/images/Vivaan.svg" alt="sijo" style="height: 25px; width: 25px;"></a>
          <a style="padding-left: 30px;">Sijo M Peter</a> <br>
          <a style="padding-left: 55px;">UI/UX Designer</a>  
        </div>
      </div>
    </div>
  </div>
</div>
