<h3>Create</h3>
<br />
<div class="input">
  <h5>Title:</h5>
  <br />
  <input type="text" name="title" id="title" />
  <h5>Type:</h5>
  <br />
  <select name="type" id="type">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <h5>Status:</h5>
  <br />
  <input type="text" name="status" id="status" />
  <h5>Priority:</h5>
  <br />
  <select name="priority" id="priority">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <h5>Resolution:</h5>
  <br />
  <input type="text" name="resolution" id="resolution" />
  <h5>Affects Version/s:</h5>
  <br />
  <input type="text" name="affects" id="affects" />
  <h5>Fix Version/s:</h5>
  <br />
  <select name="fix" id="fix">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <h5>Component/s:</h5>
  <br />
  <input type="text" name="component" id="component" />
  <h5>Assignee:</h5>
  <br />
  <select name="assignee" id="assignee">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <h5>Labels:</h5>
  <br />
  <input type="text" name="labels" id="labels" />
  <h5>Reporter:</h5>
  <br />
  <select name="reporter" id="reporter">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <h5>Sprit:</h5>
  <br />
  <input type="text" name="sprit" id="sprit" />
  <h5>Description:</h5>
  <br />
  <input type="text" name="description" id="description" />
  <h5>Story Points:</h5>
  <br />
  <select name="story" id="story">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <h5>Attachment:</h5>
  <br />
  <input type="text" name="attachment" id="attachment" />
  <br />
  <button
    style="
      background-color: blueviolet;
      color: honeydew;
      border-radius: 5px;
      height: 40px;
      width: 80px;
    "
  >
    SUBMIT
  </button>
</div>
