<div id="full">
  <h2 id="h2">Lorem ipsum dolor sit amit, conctetur adipiscing elit.</h2>
  <div class="button">
    <button>
      <img src="../assets/images/Edit.svg" alt="edit" />&nbsp;Edit
    </button>
    <button>
      <img src="../assets/images/Comment.svg" alt="comment" />&nbsp;Comment
    </button>
    <button>Assign</button>
    <button>Wont Fix</button>
    <button>Accept</button>
    <button>WorkFlow</button>
  </div>
  <div class="list">
    <ul id="list">
      <li>Type: <span id="type" >Task</span></li>
      <li>
        Priority: <span id="priority" style="color: red">High</span>
      </li>
      <li>Affects Version/s: <span id="affect" >None</span></li>
      <li>Componet/s: <span id="componet" >None</span></li>
      <li>Labels: <span id="labels" >Webetc</span></li>
      <li>Sprint:</li>
      <li>Story Points: <span id="story" >6</span></li>
    </ul>
    <ul id="list">
      <li>Status: <span id="status" >New</span></li>
      <li>Resolution: <span id="resolution" >Unresplned</span></li>
      <li>Fix Version/s: <span id="fix">None</span></li>
    </ul>
    <ul id="list" class="list4">
      <li>
        Assignee:
        <span id="assignee" 
          ><img
            src="../assets/images/Sijo.svg"
            alt="sijo"
            class="sijo-assign"
          />Sijo M Peter</span
        >
      </li>
      <li>
        Reporter:
        <span id="reporter" 
          ><img
            src="../assets/images/Sijo.svg"
            alt="sijo"
            class="sijo-report"
          />Sijo M Peter</span
        >
      </li>
      <li>Votes: <span id="votes" >0</span></li>
      <li>
        Watchers:
        <span id="watchers" style="color: blue"
          >1 stop watching this issue</span
        >
      </li>
      <li>Created: <span id="created" >02.01.2019</span></li>
      <li>Updates: <span id="updates" >02.01.2019</span></li>
    </ul>
  </div>
  <div>
    <span id="description"><b>Description</b></span>
    <span id="agile"><b>Agile</b></span
    ><br />
    <span id="click-desc"
      ><b>Click to add description</b></span
    >
    <span id="wiew"
      ><b>Wiew on Board</b></span
    >
  </div>
  <div id="attach">
   <h3>Attachement</h3>
  <input type="file" id="myFile" name="filename" />
  <p id="activity-title">Activity</p>
  </div>
  <ul>
    <li>All</li>
    <li>Comments</li>
    <li>Work log</li>
    <li>History</li>
    <li>Activity</li>
  </ul>
  <hr />
  <button class="comment">
    <img src="../assets/images/Comment.svg" alt="comment" />&nbsp;Comment
  </button>
</div>
