<h1>Issue</h1>
<div class="grid-container">
  <div class="grid-item">
    <h2>To Do 3</h2>
    <div class="card" routerLink="issues">
      <div class="container">
        <p>
          <b>ID: PCG83642</b
          ><span style="color: lightgrey; padding-left: 65px">
            Jan 02, 2019</span
          >
        </p>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p>
        <div>
          <p>
            Assignee<span style="color: lightgrey; padding-left: 115px"
              >Status</span
            >
          </p>
          <img
            src="../assets/images/Sijo.svg"
            style="height: 25px; width: 25px"
            alt="sijo"
          />
          <button
            style="
              background-color: red;
              margin-top: -240px;
              margin-left: 135px;
              font-size: 10px;
              color: white;
              align-items: center;
            "
          >
            High Priority
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <h2>In Progress 3</h2>
    <div class="card">
      <div class="container">
        <p>
          <b>ID: PCG83642</b
          ><span style="color: lightgrey; padding-left: 65px">
            Jan 02, 2019</span
          >
        </p>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p>
        <div>
          <p>
            Assignee<span style="color: lightgrey; padding-left: 115px"
              >Status</span
            >
          </p>
          <img
            src="../assets/images/Sijo.svg"
            style="height: 25px; width: 25px"
            alt="sijo"
          />
          <button
            style="
              background-color: orange;
              margin-top: -240px;
              margin-left: 135px;
              font-size: 10px;
              color: white;
              align-items: center;
            "
          >
            In Progress
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <h2>Done 3</h2>
    <div class="card">
      <div class="container">
        <p>
          <b>ID: PCG83642</b
          ><span style="color: lightgrey; padding-left: 65px">
            Jan 02, 2019</span
          >
        </p>
        <h4><b>Lorem ipsum dolor sit</b></h4>
        <p>
          Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
          dolor. Phasellus vitae sem auctor.
        </p>
        <div>
          <p>
            Assignee<span style="color: lightgrey; padding-left: 115px"
              >Status</span
            >
          </p>
          <img
            src="../assets/images/Sijo.svg"
            style="height: 25px; width: 25px"
            alt="sijo"
          />
          <button
            style="
              background-color: lawngreen;
              margin-top: -240px;
              margin-left: 150px;
              font-size: 10px;
              color: white;
              align-items: center;
            "
          >
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-item">
   <div class="card">
    <div class="container">
      <p>
        <b>ID: PCG83642</b
        ><span style="color: lightgrey; padding-left: 65px">
          Jan 02, 2019</span
        >
      </p>
      <h4><b>Lorem ipsum dolor sit</b></h4>
      <p>
        Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
        dolor. Phasellus vitae sem auctor.
      </p>
      <div>
        <p>
          Assignee<span style="color: lightgrey; padding-left: 115px"
            >Status</span
          >
        </p>
        <img
          src="../assets/images/Sijo.svg"
          style="height: 25px; width: 25px"
          alt="sijo"
        />
        <button
          style="
            background-color: red;
            margin-top: -240px;
            margin-left: 135px;
            font-size: 10px;
            color: white;
            align-items: center;
          "
        >
          High Priority
        </button>
      </div>
    </div>
  </div>
  </div>
  <div class="grid-item">
   <div class="card">
    <div class="container">
      <p>
        <b>ID: PCG83642</b
        ><span style="color: lightgrey; padding-left: 65px">
          Jan 02, 2019</span
        >
      </p>
      <h4><b>Lorem ipsum dolor sit</b></h4>
      <p>
        Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
        dolor. Phasellus vitae sem auctor.
      </p>
      <div>
        <p>
          Assignee<span style="color: lightgrey; padding-left: 115px"
            >Status</span
          >
        </p>
        <img
          src="../assets/images/Sijo.svg"
          style="height: 25px; width: 25px"
          alt="sijo"
        />
        <button
          style="
            background-color: orange;
            margin-top: -240px;
            margin-left: 135px;
            font-size: 10px;
            color: white;
            align-items: center;
          "
        >
          In Progress
        </button>
      </div>
    </div>
  </div>
  </div>
  <div class="grid-item">
   <div class="card">
    <div class="container">
      <p>
        <b>ID: PCG83642</b
        ><span style="color: lightgrey; padding-left: 65px">
          Jan 02, 2019</span
        >
      </p>
      <h4><b>Lorem ipsum dolor sit</b></h4>
      <p>
        Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
        dolor. Phasellus vitae sem auctor.
      </p>
      <div>
        <p>
          Assignee<span style="color: lightgrey; padding-left: 115px"
            >Status</span
          >
        </p>
        <img
          src="../assets/images/Sijo.svg"
          style="height: 25px; width: 25px"
          alt="sijo"
        />
        <button
          style="
            background-color: lawngreen;
            margin-top: -240px;
            margin-left: 150px;
            font-size: 10px;
            color: white;
            align-items: center;
          "
        >
          Done
        </button>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-item">
   <div class="card">
    <div class="container">
      <p>
        <b>ID: PCG83642</b
        ><span style="color: lightgrey; padding-left: 65px">
          Jan 02, 2019</span
        >
      </p>
      <h4><b>Lorem ipsum dolor sit</b></h4>
      <p>
        Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
        dolor. Phasellus vitae sem auctor.
      </p>
      <div>
        <p>
          Assignee<span style="color: lightgrey; padding-left: 115px"
            >Status</span
          >
        </p>
        <img
          src="../assets/images/Sijo.svg"
          style="height: 25px; width: 25px"
          alt="sijo"
        />
        <button
          style="
            background-color: red;
            margin-top: -240px;
            margin-left: 135px;
            font-size: 10px;
            color: white;
            align-items: center;
          "
        >
          High Priority
        </button>
      </div>
    </div>
  </div>
  </div>
  <div class="grid-item">
   <div class="card">
    <div class="container">
      <p>
        <b>ID: PCG83642</b
        ><span style="color: lightgrey; padding-left: 65px">
          Jan 02, 2019</span
        >
      </p>
      <h4><b>Lorem ipsum dolor sit</b></h4>
      <p>
        Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
        dolor. Phasellus vitae sem auctor.
      </p>
      <div>
        <p>
          Assignee<span style="color: lightgrey; padding-left: 115px"
            >Status</span
          >
        </p>
        <img
          src="../assets/images/Sijo.svg"
          style="height: 25px; width: 25px"
          alt="sijo"
        />
        <button
          style="
            background-color: orange;
            margin-top: -240px;
            margin-left: 135px;
            font-size: 10px;
            color: white;
            align-items: center;
          "
        >
          In Progress
        </button>
      </div>
    </div>
  </div>
  </div>
  <div class="grid-item">
   <div class="card">
    <div class="container">
      <p>
        <b>ID: PCG83642</b
        ><span style="color: lightgrey; padding-left: 65px">
          Jan 02, 2019</span
        >
      </p>
      <h4><b>Lorem ipsum dolor sit</b></h4>
      <p>
        Lorem ipsum dolor sit amit, conctetur adipiscing elit. Ut ut gravida
        dolor. Phasellus vitae sem auctor.
      </p>
      <div>
        <p>
          Assignee<span style="color: lightgrey; padding-left: 115px"
            >Status</span
          >
        </p>
        <img
          src="../assets/images/Sijo.svg"
          style="height: 25px; width: 25px"
          alt="sijo"
        />
        <button
          style="
            background-color: lawngreen;
            margin-top: -240px;
            margin-left: 150px;
            font-size: 10px;
            color: white;
            align-items: center;
          "
        >
          Done
        </button>
      </div>
    </div>
  </div>
  </div>
</div>
