@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: grid;
    grid-template-columns: 10% 0% 50% 8% 10% 0% 10%;
    grid-column-gap: 10px;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    color: #b0bec5;
  }

  .tracker {
    width: 120px;
    height: 45px;
  }

  .avatar {
    visibility: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .three-dots {
    height: 45px;
    width: 40px;
  }
  #search {
    visibility: hidden;
  }

  * {
    box-sizing: border-box;
  }

  /* Create a column layout with Flexbox */
  .row {
    visibility: hidden;
    display: flex;
    width: 200px;
    height: 800px;
  }

  /* Left column (menu) */
  .left {
    flex: 300%;
    background-color: #1a237e;
  }

  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
    touch-action: auto;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: grid;
    grid-template-columns: 0% 20% 70% 2% 0% 0% 0%;
    grid-column-gap: 10px;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .three-dots {
    height: 45px;
    width: 40px;
  }

  #search1 {
    visibility: hidden;
  }

  #menuIcon {
    visibility: hidden;
  }

  .three-dots {
    visibility: hidden;
  }

  * {
    box-sizing: border-box;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;
    width: 400px;
    height: 800px;
  }

  /* Left column (menu) */
  .left {
    flex: 400%;
    background-color: #1a237e;
  }
  
  .right {
    height: 80%;
    width: 180%;
  }

  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
    touch-action: auto;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1366px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: grid;
    grid-template-columns: 0% 20% 70% 2% 0% 0% 0%;
    grid-column-gap: 10px;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .three-dots {
    height: 45px;
    width: 40px;
  }

  #search1 {
    visibility: hidden;
  }

  #menuIcon {
    visibility: hidden;
  }

  .three-dots {
    visibility: hidden;
  }

  * {
    box-sizing: border-box;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;
    width: 400px;
    height: 800px;
  }

  /* Left column (menu) */
  .left {
    flex: 200%;
    background-color: #1a237e;
  }

  .right {
    height: 80%;
    width: 60%;
  }

  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
    touch-action: auto;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 2560px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: grid;
    grid-template-columns: 0% 10% 83% 2% 0% 0% 0%;
    grid-column-gap: 10px;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .three-dots {
    height: 45px;
    width: 40px;
  }

  #search1 {
    visibility: hidden;
  }

  #menuIcon {
    visibility: hidden;
  }

  .three-dots {
    visibility: hidden;
  }

  * {
    box-sizing: border-box;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }

  /* Left column (menu) */
  .left {
    flex: 300%;
    background-color: #1a237e;
  }


  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
    touch-action: auto;
  }
}
