<!-- Header -->
<header>
  <div class="topnav">
    <a id="menuIcon"
      ><div
        style="width: 30px; height: 5px; background-color: #b0bec5; margin: 6px 0"
      ></div>
      <div
        style="width: 30px; height: 5px; background-color: #b0bec5; margin: 6px 0"
      ></div>
      <div
        style="width: 30px; height: 5px; background-color: #b0bec5; margin: 6px 0"
      ></div
    ></a>
    <a id="home"
      ><img src="../assets/images/tracker.png" alt="Tracker" class="tracker"
    /></a>    
    <a id="search"><i class="fa fa-fw fa-search"></i>&nbsp;Search</a>
    <a id="alert"> <i class="fa fa-bell"></i></a>    
    <a id="search1"><i class="fa fa-fw fa-search"></i></a>
    <a id="avatar"
      ><img src="../assets/images/imgBg.jpg" alt="Avatar" class="avatar"
    /></a>
    <a id="three-dots"
    ><img src="../assets/images/three-dot.jpg" alt="three-dots" class="three-dots"
  /></a>
  </div>
</header>
<div class="flex-container">
<div class="row">
  <div class="left" style="background-color: #080d3f">
    <ul id="myMenu">
      <li>
        <a id="menuList1"
          ><i class="fa fa-bar-chart" style="font-size: 24px"></i
          >&nbsp;Dashboard</a
        >
      </li>
      <li>
        <a id="menuList2"
          ><i class="fa fa-check-square-o" style="font-size: 24px"></i
          >&nbsp;Issues</a
        >
      </li>
      <li>
        <a id="menuList3"
          ><i class="fa fa-plus" style="font-size: 24px"></i>&nbsp;Create</a
        >
      </li>
    </ul>    
  </div>
  <div class="right">
    <app-create></app-create>
  </div> 
</div>
</div>