@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  #home {
    width: 20%;
    padding-left: 2.5%;
  }

  #title {
    width: 70%;
  }

  #search {
    width: 55%;
  }

  #alert {
    width: 15%;
  }
  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* Create a column layout with Flexbox */
  .row {
    /* display: flex; */
  }

  .left {
    visibility: collapse;
  }
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    /* height: 600px;
    width: 129px; */
  }

  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  #home {
    width: 20%;
    padding-left: 2.5%;
  }

  #title {
    width: 70%;
  }

  #search {
    width: 55%;
  }

  #alert {
    width: 15%;
  }
  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }


  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    height: 600px;
    width: 200px;
  }

  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  #home {
    width: 8%;
    padding-left: 2.5%;
  }

  #title {
    width: 20%;
  }

  #search {
    width: 75%;
  }

  #alert {
    width: 5%;
  }

  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;  
  }

  .left {
    background-color: #1a237e;    
  }

  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    height: 600px;
    width: 200px;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1366px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  #home {
    width: 8%;
    padding-left: 2.5%;
  }

  #title {
    width: 20%;
  }

  #search {
    width: 75%;
  }

  #alert {
    width: 5%;
  }

  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }

  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    height: 600px;
    width: 200px;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 2560px) {
  /* Styles */
  /* Add a black background color to the top navigation */
  .topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  #home {
    width: 8%;
    padding-left: 2.5%;
  }

  #title {
    width: 20%;
  }

  #search {
    width: 75%;
  }

  #alert {
    width: 5%;
  }

  .topnav a {
    color: #b0bec5;
  }

  .avatar {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }

  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    height: 600px;
    width: 200px;
  }

  #myMenu li a {
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    color: rgba(0, 173, 255, 0.54);
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #myMenu li a:hover {
    background-color: #2a9fd8;
    color: #1a237e;
    cursor: pointer;
  }
}
